<IfModule mod_php7.c>
    php_value auto_prepend_file "C:/Users/aleks/Documents/GitHub/MMB-OSHA/public/bootstrap.php"
</IfModule>
<IfModule mod_php.c>
    php_value auto_prepend_file "C:/Users/aleks/Documents/GitHub/MMB-OSHA/public/bootstrap.php"
</IfModule>
